<%- include('../partials/_header.ejs') %>
  <%- include('../partials/_navbar.ejs') %>
    <div class="section has-text-centered">
      <h1 class="title">Create a Statracker account!</h1>
      <% if (failedSignUp) { %>
        <p class="messageError"><%= failedSignUp %></p>
     <% } %>
      <form class="has-text-centered column is-3-desktop is-5-tablet is-7-mobile" style="margin: auto;" action="/auth/sign-up" method="POST">
        <div class="field">
          <label class="label" for="username">Username:</label>
          <div class="control">
            <input class="input" type="text" name="username" id="username" required/>
          </div>
        </div>
        <div class="field">
          <label class="label" for="password">Password:</label>
          <div class="control">
            <input class="input" type="password" name="password" id="password" required/>
          </div>
        </div>
        <div class="field">
          <label class="label" for="confirmPassword">Confirm Password:</label>
          <div class="control">
            <input class="input" type="password" name="confirmPassword" id="confirmPassword" required/>
          </div>
        </div>
        <button class="button" type="submit">Sign up</button>
      </form>
    </div>
    <%- include ('../partials/_footer.ejs') %>