<%- include('../partials/_header.ejs') %>
    <%- include('../partials/_navbar.ejs') %>
        <div class="section pt-4 pb-0">
            <nav class="breadcrumb has-arrow-separator">
                <ul class="container">
                    <li><a class="has-text-grey" href="/">Home</a></li>
                    <li><a class="has-text-grey" href="/coaches">All Coaches</a></li>
                    <li class="is-active"><a class="has-text-grey has-text-weight-bold" href="/coaches/new">New
                            Coach</a></li>
                </ul>
            </nav>
        </div>
        <div class="section">
            <div class="container">
            <h1 class="title has-text-centered">Add a Coach</h1>
            <form action="/coaches" method="POST">
                <div class="columns is-multiline is-mobile">
                    <div class="column auto">
                        <div class="field">
                            <label for="name" class="label">Coach Name:</label>
                            <div class="control">
                                <input type="text" class="input" name="name" id="name" placeholder="Coach Name"
                                    required>
                            </div>
                        </div>
                    </div>
                    <div class="column is-one-quarter">
                        <div class="field">
                            <label for="seasons" class="label">Seasons:</label>
                            <div class="control">
                                <input type="number" class="input" name="seasons" id="seasons" placeholder="Seasons"
                                    required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns is-multiline is-mobile">
                    <div class="column is-half">
                        <div class="field">
                            <label for="totalRegularSeasonGames" class="label">Regular Season Games:</label>
                            <div class="control">
                                <input type="number" class="input" name="totalRegularSeasonGames"
                                    id="totalRegularSeasonGames" placeholder="Regular Season Games" required>
                            </div>
                        </div>
                    </div>
                    <div class="column is-half">
                        <div class="field">
                            <label for="regularSeasonWins" class="label">Regular Season Wins:</label>
                            <div class="control">
                                <input type="number" class="input" name="regularSeasonWins" id="regularSeasonWins"
                                    placeholder="Regular Season Wins" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns is-multiline is-mobile">
                    <div class="column is-half">
                        <div class="field">
                            <label for="playoffBerths" class="label">Total Playoff Berths:</label>
                            <div class="control">
                                <input type="number" class="input" name="playoffBerths" id="playoffBerths"
                                    placeholder="Total Playoff Berths" required>
                            </div>
                        </div>
                    </div>
                    <div class="column is-half">
                        <div class="field">
                            <label for="playoffByes" class="label">Total Playoff Byes:</label>
                            <div class="control">
                                <input type="number" class="input" name="playoffByes" id="playoffByes"
                                    placeholder="Total Playoff Byes" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns is-multiline is-mobile">
                    <div class="column is-half">
                        <div class="field">
                            <label for="playoffGames" class="label">Total Playoff Games:</label>
                            <div class="control">
                                <input type="number" class="input" name="playoffGames" id="playoffGames"
                                    placeholder="Total Playoff Games" required>
                            </div>
                        </div>
                    </div>
                    <div class="column is-half">
                        <div class="field">
                            <label for="playoffWins" class="label">Total Playoff Wins:</label>
                            <div class="control">
                                <input type="number" class="input" name="playoffWins" id="playoffWins"
                                    placeholder="Total Playoff Wins" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns is-multiline is-mobile">
                    <div class="column is-half">
                        <div class="field">
                            <label for="superBowlAppearances" class="label">Super Bowl Appearances:</label>
                            <div class="control">
                                <input type="number" class="input" name="superBowlAppearances" id="superBowlAppearances"
                                    placeholder="Super Bowl Appearances" required>
                            </div>
                        </div>
                    </div>
                    <div class="column is-half">
                        <div class="field">
                            <label for="superBowlWins" class="label">Super Bowl Wins:</label>
                            <div class="control">
                                <input type="number" class="input" name="superBowlWins" id="superBowlWins"
                                    placeholder="Super Bowl Wins" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <label for="isActive" class="checkbox">
                            <input type="checkbox" id="isActive">
                            Active Coach
                        </label>
                    </div>
                </div>
                <div class="has-text-centered">
                    <button class="button is-dark" type="submit">
                        Add Coach
                    </button>
                </div>
            </form>
        </div>
    </div>
        <%- include ('../partials/_footer.ejs') %>