<!-- views/index.ejs -->

<%- include('./partials/_header.ejs') %>
<%- include('./partials/_navbar.ejs') %>
<h1>MDL All-Time Stats</h1>
      <p><a href="/coaches">
        <button>All Coaches</button>
      </a></p>
<%- include ('./partials/_footer.ejs') %>