<!-- views/index.ejs -->

<%- include('./partials/_header.ejs') %>
<%- include('./partials/_navbar.ejs') %>
<div class="section">
<h1>MDL All-Time Stats</h1>
</div>
      <p><a href="/coaches">
        <button>All Time Coach Stats</button>
      </a></p>
<%- include ('./partials/_footer.ejs') %>