<!-- views/index.ejs -->

<%- include('./partials/_header.ejs') %>
  <%- include('./partials/_navbar.ejs') %>

    <div class="container has-text-centered">
        <h1 class="pt-6 title">MDL Statracker App</h1>
        <a href="/coaches">
          <button class="button is-dark is-large has-text-centered">
            See All-Time Coaching Stats
          </button>
        </a>
    </div>

    <%- include ('./partials/_footer.ejs') %>